<div class="row">
  <div class="col-md-12">header</div>
</div>
<div class="row">
  <div class="col-md-3">
    <form id="toggles">
      <a href="<%=user.github ? '#' : '/github/authorize'%>" class="btn btn-block btn-sm btn-social btn-github <%=user.github ? 'disabled' : ''%>">
        <span class="fa fa-github"></span> <%=user.github ? 'GitHub Connected ' : 'Connect GitHub'%>
      </a>
      <% if(user.github){ %>
        <div>
          <input id="toggle-github-profile-link" name="github-profile-link" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'github-profile-link') ? 'checked' : ''%>> Profile Link
        </div>
        <div>
          <input id="toggle-github-basic-stats" name="github-basic-stats" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'github-basic-stats') ? 'checked' : ''%>> Basic stats
        </div>
        <div>
          <input id="toggle-github-repos-tag-cloud" name="github-repos-tag-cloud" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'github-repos-tag-cloud') ? 'checked' : ''%>> Repos Tag Cloud
        </div>
      <% } %>
      <a href="<%=user.linkedin ? '#' : '/linkedin/authorize'%>" class="btn btn-block btn-sm btn-social btn-linkedin <%=user.linkedin ? 'disabled' : ''%>">
        <span class="fa fa-linkedin"></span> <%=user.linkedin ? 'LinkedIn Connected ' : 'Connect LinkedIn'%>
      </a>
      <% if(user.linkedin){ %>
        <div>
          <input id="toggle-linkedin-profile-link" name="linkedin-profile-link" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'linkedin-profile-link') ? 'checked' : ''%>> Profile Link
        </div>
        <div>
          <input id="toggle-linkedin-summary" name="linkedin-summary" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'linkedin-summary') ? 'checked' : ''%>> Linkedin Summary
        </div>
      <% } %>

      <a href="<%=user.stackoverflow ? '#' : '/stackoverflow/authorize'%>" class="btn btn-block btn-sm btn-social btn-google <%=user.stackoverflow ? 'disabled' : ''%>">
        <span class="fa fa-stack-overflow"></span> <%=user.stackoverflow ? 'StackOverflow Connected ' : 'Connect StackOverflow'%>
      </a>
      <% if(user.stackoverflow){ %>
        <div>
          <input id="toggle-stackoverflow-profile-link" name="stackoverflow-profile-link" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'stackoverflow-profile-link') ? 'checked' : ''%>> Profile Link
        </div>
        <div>
          <input id="toggle-stackoverflow-basic-stats" name="stackoverflow-basic-stats" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'stackoverflow-basic-stats') ? 'checked' : ''%>> Basic stats
        </div>
        <div>
          <input id="toggle-stackoverflow-questions-tag-cloud" name="stackoverflow-questions-tag-cloud" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'stackoverflow-questions-tag-cloud') ? 'checked' : ''%>> Questions Tag Cloud
        </div>
        <div>
          <input id="toggle-stackoverflow-answers-tag-cloud" name="stackoverflow-answers-tag-cloud" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'stackoverflow-answers-tag-cloud') ? 'checked' : ''%>> Answers Tag Cloud
        </div>
      <% } %>

      <a href="<%=user.meetup ? '#' : '/meetup/authorize'%>" class="btn btn-block btn-sm btn-social btn-pinterest <%=user.meetup ? 'disabled' : ''%>">
        <span class="fa fa-meetup"></span> <%=user.meetup ? 'Meetup Connected ' : 'Connect Meetup'%>
      </a>
      <% if(user.meetup){ %>
        <div>
          <input id="toggle-meetup-profile-link" name="meetup-profile-link" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'meetup-profile-link') ? 'checked' : ''%>> Profile Link
        </div>
        <div>
          <input id="toggle-meetup-groups" name="meetup-groups" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'meetup-groups') ? 'checked' : ''%>> Meetup Groups
        </div>
        <div>
          <input id="toggle-meetup-group-categories-tag-cloud" name="meetup-group-categories-tag-cloud" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'meetup-group-categories-tag-cloud') ? 'checked' : ''%>> Categories Tag Cloud
        </div>
        <div>
          <input id="toggle-meetup-rsvps" name="meetup-rsvps" type="checkbox" data-toggle="toggle" <%=_.contains(user.widgets,'meetup-rsvps') ? 'checked' : ''%>> RSVPs
        </div>
      <% } %>
    </form>
  </div>
  <div class="col-md-9">
    <iframe id="the-perfil" style="width:100%" src="http://<%=config.get('app.domain')%>/profiles/github/<%=user.github.username%>">
    </iframe>
  </div>
</div>




<script>
$(function(){
    $(':checkbox').change(function(){
      toggleWidget(this.id,$(this).is(':checked'))
    })

    <% _.each(user.widgets,function(widget){ %>
      toggleWidget('widget-<%=widget%>',true);
    <% }) %>
})

function toggleWidget(toggleID,checked){
  // // process toggle ID
  // var parts = toggleID.split('-');
  // parts[0] = 'widget';
  // var widgetID = parts.join('-');
  // parts.shift();
  // var path = '/widgets/' + parts[0];
  // parts.shift();
  // var path = path + '/' + parts.join('-');

  save()
}

function save(){
  $.ajax({
    type: 'POST',
    url: '/save',
    data: $('#toggles').serialize(),
    success: function(data){
      // $('#the-perfil').contentWindow.lo‘cation.reload(true);
      $('#the-perfil').attr('src', $('#the-perfil').attr('src'));
    },
    error: function(){
      alert('something went wrong...');
    }
  });
}

</script>
