<h3>General stats</h3>
<table>
  <tr>
    <td>github followers</td><td><%=github.followers%></td>
  </tr>
  <tr>
    <td>github following</td><td><%=github.following%></td>
  </tr>
  <tr>
    <td>github public repos</td><td><%=github.public_repos%></td>
  </tr>
  <tr>
    <td>github public gists</td><td><%=github.public_gists%></td>
  </tr>
  <tr>
    <td>github total stars</td><td><%=github_repos_counts.stars%></td>
  </tr>
  <tr>
    <td>github total watchers</td><td><%=github_repos_counts.watchers%></td>
  </tr>
  <tr>
    <td>stackoverflow reputation</td><td><%=stackoverflow.items[0].reputation%></td>
  </tr>
  <tr>
    <td>stackoverflow gold badges</td><td><%=stackoverflow.items[0].badge_counts.gold%></td>
  </tr>
  <tr>
    <td>stackoverflow silver badges</td><td><%=stackoverflow.items[0].badge_counts.silver%></td>
  </tr>
  <tr>
    <td>stackoverflow bronze badges</td><td><%=stackoverflow.items[0].badge_counts.bronze%></td>
  </tr>
</table>

<h3>Github repos languages</h3>
<table>
  <thead>
    <th>tag</th>
    <th>frequency</th>
  </thead>

  <% _.each(github_languages_tag_cloud,function(count,tag){ %>
    <tr>
      <td><%=tag%></td>
      <td><%=count%></td>

    </tr>
  <% }) %>
</table>

<h3>Stackoverflow answered topics</h3>
<%
  var tags = [];
  _.each(stackoverflow_answers,function(stackoverflowAnswer){
    tags = tags.concat(stackoverflowAnswer.question.tags)
  })

  tagCloud = _.countBy(tags,function(tag){
    return tag;
  })
%>

<table>
  <thead>
    <th>tag</th>
    <th>frequency</th>
  </thead>

  <% _.each(tagCloud,function(count,tag){ %>
    <tr>
      <td><%=tag%></td>
      <td><%=count%></td>

    </tr>
  <% }) %>
</table>

<h3>Stackoverflow asked topics</h3>
<%
  var tags = [];
  _.each(stackoverflow_questions,function(stackoverflowQuestion){
    tags = tags.concat(stackoverflowQuestion.tags)
  })

  tagCloud = _.countBy(tags,function(tag){
    return tag;
  })
%>

<table>
  <thead>
    <th>tag</th>
    <th>frequency</th>
  </thead>

  <% _.each(tagCloud,function(count,tag){ %>
    <tr>
      <td><%=tag%></td>
      <td><%=count%></td>

    </tr>
  <% }) %>
</table>



<h3>Stackoverflow answered questions</h3>

<table>
  <thead>
    <th>question</th>
    <th>is answer?</th>
    <th>answer</th>
  </thead>

  <% stackoverflow_answers.forEach(function(answer){ %>
    <tr>
      <td><%=answer.question.title%></td>
      <td><%=(answer.answer.is_accepted ? 'Yes' : 'No')%></td>
      <td><%-answer.answer.body%></td>

    </tr>
  <% }) %>
</table>

<h3>Stackoverflow questions</h3>

<table>
  <thead>
    <th>title</th>
    <th>body</th>
  </thead>

  <% stackoverflow_questions.forEach(function(question){ %>
    <tr>
      <td><%=question.title%></td>
      <td><%-question.body%></td>

    </tr>
  <% }) %>
</table>

<h3>Meetup Groups</h3>

<table>
  <thead>
    <th>name</th>
    <th>category</th>
    <th>members</th>
  </thead>

  <% meetup_groups.forEach(function(group){ %>
    <tr>
      <td><%=group.name%></td>
      <td><%-group.category.name%></td>
      <td><%=group.members%></td>

    </tr>
  <% }) %>
</table>

<h3>Meetup tag cloud</h3>
<%
  var tags = [];
  _.each(meetup_groups,function(meetupGroup){
    tags.push(meetupGroup.category.name)
  })

  tagCloud = _.countBy(tags,function(tag){
    return tag;
  })
%>

<table>
  <thead>
    <th>tag</th>
    <th>frequency</th>
  </thead>

  <% _.each(tagCloud,function(count,tag){ %>
    <tr>
      <td><%=tag%></td>
      <td><%=count%></td>

    </tr>
  <% }) %>
</table>
