<h3>GitHub Basic Stats</h3>
<table>
  <tr>
    <td>Followers</td><td><%=github_basic_stats.followers%></td>
  </tr>
  <tr>
    <td>Following</td><td><%=github_basic_stats.following%></td>
  </tr>
  <tr>
    <td>public repos</td><td><%=github_basic_stats.public_repos%></td>
  </tr>
  <tr>
    <td>public gists</td><td><%=github_basic_stats.public_gists%></td>
  </tr>
  <tr>
    <td>total stars</td><td><%=github_basic_stats.total_stars%></td>
  </tr>
  <tr>
    <td>total watchers</td><td><%=github_basic_stats.total_watchers%></td>
  </tr>
</table>
