<h3>GitHub Basic Stats</h3>
<table>
  <tr>
    <td>Followers</td><td><%=github_user.followers%></td>
  </tr>
  <tr>
    <td>Following</td><td><%=github_user.following%></td>
  </tr>
  <tr>
    <td>public repos</td><td><%=github_user.public_repos%></td>
  </tr>
  <tr>
    <td>public gists</td><td><%=github_user.public_gists%></td>
  </tr>
  <tr>
    <td>total stars</td><td><%=repos_counts.stars%></td>
  </tr>
  <tr>
    <td>total watchers</td><td><%=repos_counts.watchers%></td>
  </tr>
</table>
